<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation = "http://JAVA.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Hotel</display-name>

	<!-- {A}注册侦听器 -->
	<listener>
		<listener-class>com.hhz.listener.ContextLifeListener</listener-class>
	</listener>


	<!-- {B}注册过滤器-->
	<filter>
		<filter-name>CommonFilter</filter-name>
		<filter-class>com.hhz.filter.CommonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CommonFilter</filter-name>
		<url-pattern>/User/*</url-pattern>
		<url-pattern>/Menu/*</url-pattern>
		<url-pattern>/Permission/*</url-pattern>
		<url-pattern>/Role/*</url-pattern>
		<url-pattern>/Room/*</url-pattern>
		<url-pattern>/RoomType/*</url-pattern>
		<url-pattern>/Notify/*</url-pattern>
		<url-pattern>/Storey/*</url-pattern>
		<url-pattern>/LodgingInfo/*</url-pattern>
	</filter-mapping> 
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.hhz.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/Common/login</url-pattern>
	</filter-mapping>
</web-app>